/* MAP */

#map {
    width: 80%;
    height: 700px;
    text-align: center;
    margin-bottom: 35px;
}

#getCurrentLocation {
    margin-top: 20px;
}

.center {
    margin-top: 20px;
}

.bg-color {
    background-color: #c55e09;
}

.brand-size {
    height: 40px;
}

.logo-size {
    width: 400px;
    margin-left: 30%;
    margin-top: 130px;
}

.label-font {
    font-size: 18pt;
    font-weight: 600;
}

.error-txt {
    color: antiquewhite;
}

.info-font-title {
    font-size: 15pt;
    font-weight: 600;
}

.info-font-body {
    font-size: 12pt;
    font-weight: 600;
}